body {
	font-family: 'Poppins', sans-serif;
	background: #26335D;
}

h1 {
	color:  #404040;
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
	font-weight: bold;
}

h4 {
	color:  #404040;
	margin-left: 70px;
	font-size: 15px;
	font-weight: bold;
	margin-top: 50px;
}

.valid:before {
  position: relative;
  left: -10px;
  content: "✔";
}

.invalid:before {
  position: relative;
  left: -10px;
  content: "✖";
}

.container2 p {
   color: rgba(0, 0, 0, 0.5);
   margin-left: 70px;
   margin-right: 20px;
   font-size: 13px;

}

.container2 p.invalid {
	color: red;
}

.container2 p.valid {
  color: green;
}

input.nome , .rg , .senha {
	height: 50px;
	width: 60%;
	font-size: 15px;
	margin-bottom: 20px;
	margin-left: 80px;
	background-color: #fff;
	padding-left: 40px;
	border-bottom: 1px solid #694ED6;
	border-top: none;
	border-left: none;
	border-right: none;
	background-repeat: no-repeat;
	background-position: 10px;
}

button.submit {
	margin-left: 80px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background-color: #694ED6;
	border-radius: 8px;
	border: 0px;
	padding: 5px 20px;
	height: 50px;
	width: 60%;
	margin-top: 15px;
	letter-spacing: 2px;
}

.div_nome .icon {
  color: black;
  font-size: 20px;
  position: absolute;
  margin-left: 95px;
  top: 237px;
  opacity: 0.5;
}

.div_rg .icon {
  color: black;
  font-size: 20px;
  position: absolute;
  margin-left: 95px;
  top: 305px;
  opacity: 0.5;
}

.div_senha .icon {
  color: black;
  font-size: 20px;
  position: absolute;
  margin-left: 95px;
  top:375px;
  opacity: 0.5;
}

.dropdown {
	margin-left: 80px;
}

.dropdown .btn {
	padding-right: 30px;
	padding-left: 30px;
}

#container {
	width: 400px;
	height: 600px;
	background-color: #F5F4F8;
	-webkit-border-radius:  10px;
	-moz-border-radius:  10px;
	border-radius: 10px;
	margin-top: 15px;
	float: left;
	box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
}

#container img {
	margin-left: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
	height:100px;
	width: 100px;
}

.container1 {
	margin-left: 250px;
}

.container2 {
	margin-left: 100px;
}

#myProgress {
  width: 80%;
  background-color: #CCCC;
  margin-top: 30px;
  margin-left: 40px;
  border-radius: 15px;
}

.myBar {
  width: 1%;
  height: 10px;
  background-color: #694ED6;
  border-radius: 15px;
}

#play-animation {
	animation: progress-animation 5s forwards;
}

@keyframes progress-animation {
	0% {width: 0%;}
	100% {width: 100%;}
}
