body {
	font-family: 'Poppins', sans-serif;
	background: #26335D;
}


h2 {
	color: white;
	text-transform: uppercase;
	position: absolute;
	top: 80px;
	left: 250px;
	font-size: 20px;
	font-weight: bold;
	padding-top: 40px;
}

/*Containers - Início */

p#length {
	margin-top: 70px;
}

input.senha_atual , .nova_senha , .confirmar_senha {
	height: 40px;
	width: 60%;
	font-size: 15px;
	margin-bottom: 20px;
	margin-left: 80px;
	background-color: #fff;
	padding-left: 20px;
	border-bottom: 1px solid #694ED6;
	border-top: none;
	border-left: none;
	border-right: none;
	background-repeat: no-repeat;
	background-position: 10px;
}

button {
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	background-color: #694ED6;
	border-radius: 8px;
	border: 0px;
	height: 40px;
	width: 200px;
	margin-top: 150px;
	margin-left: -500px;
	margin-bottom: 50px;
	letter-spacing: 2px;
}

#container {
	width: 400px;
	height: 300px;
	background-color: #F5F4F8;
	-webkit-border-radius:  10px;
	-moz-border-radius:  10px;
	border-radius: 10px;
	margin-top: 170px;
	float: left;
	box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
}

.container1 {
	margin-left: 250px;
}

.container2 {
	margin-left: 100px;
}

label {
	margin-left: 80px;
	color: #404040;
	font-size: 15px;
	font-weight: 400;

}

.div_senha_atual {
	margin-top: 20px;
}

/*Início - Validação da senha*/

.valid:before {
  position: relative;
  left: -10px;
  content: "✔";
}

.invalid:before {
  position: relative;
  left: -10px;
  content: "✖";
}

.container2 p {
   color: rgba(0, 0, 0, 0.5);
   margin-left: 70px;
   margin-right: 20px;
   font-size: 13px;

}

.container2 p.invalid {
	color: red;
}

.container2 p.valid {
  color: green;
}

/*Fim - Validação da senha*/

/* Início - Mensagem de erro*/

#msg-erro {
	position: absolute;
	top: 650px;
	bottom: 50px;
	left: 255px;
}

/* Fim - Mensagem de erro */

